/****************** IrisDSSelect ******************/
.iris-ds-list .col-md-1,
.iris-ds-list .col-md-2,
.iris-ds-list .col-md-10,
.iris-ds-list .col-md-11,
.iris-ds-list .col-md-12 {
    padding: 0;
}
.iris-ds-list [iris-field],
.iris-ds-list [iris-field] .form-control {
    width: 100%;
}
.iris-ds-list fieldset {
    margin-bottom: 5px;
}

.iris-ds-list .col-md-2 .selectize-input {
    width: calc(100% - 2px);
}

