.glyphicon {
 display: inline-block;
 font-family: FontAwesome;
 font-style: normal;
 font-weight: normal;
 line-height: 1;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
.glyphicon-chevron-left:before {
 content: "\f053";
}
.glyphicon-chevron-right:before {
 content: "\f054";
}
.glyphicon-chevron-down:before {
 content: "\f063";
}
.glyphicon-chevron-up:before {
 content: "\f062";
}