.flex-grid,
.flex-row {
  display: -webkit-flex;
  display: flex;
  flex: 0 0 auto;
}
.flex-grid {
  flex-wrap: wrap;
}
.flex-row {
  flex-wrap: nowrap;
}
.flex-center {
  justify-content: center;
}
.flex-space {
  justify-content: space-between;
}
.flex-right {
  justify-content: flex-end;
}
.flex-left {
  justify-content: flex-start;
}
.flex-middle {
  align-items: center;
}
.flex-stretch {
  align-items: stretch;
}
.flex-top {
  align-items: flex-start;
}
.flex-bottom {
  align-items: flex-end;
}
[class*="flex-col-"] + [class*="flex-col-"] {
  margin-left: 10px;
}
.flex-col-auto {
  flex: 1;
}
.flex-col-1 {
  flex: 0 0 65px;
}
.flex-col-2 {
  flex: 0 0 140px;
}
.flex-col-3 {
  flex: 0 0 215px;
}
.flex-col-4 {
  flex: 0 0 290px;
}
.flex-col-5 {
  flex: 0 0 365px;
}
.flex-col-6 {
  flex: 0 0 440px;
}
.flex-col-7 {
  flex: 0 0 515px;
}
.flex-col-8 {
  flex: 0 0 590px;
}
.flex-col-9 {
  flex: 0 0 665px;
}
.flex-col-10 {
  flex: 0 0 740px;
}
.flex-col-11 {
  flex: 0 0 815px;
}
.flex-col-12 {
  flex: 0 0 890px;
}
.flex-col-1.stick {
  width: 65px;
}
.flex-col-2.stick {
  width: 140px;
}
.flex-col-3.stick {
  width: 215px;
}
.flex-col-4.stick {
  width: 290px;
}
.flex-col-5.stick {
  width: 365px;
}
.flex-col-6.stick {
  width: 440px;
}
.flex-col-7.stick {
  width: 515px;
}
.flex-col-8.stick {
  width: 590px;
}
.flex-col-9.stick {
  width: 665px;
}
.flex-col-10.stick {
  width: 740px;
}
.flex-col-11.stick {
  width: 815px;
}
.flex-col-12.stick {
  width: 890px;
}
.flex-push-1 {
  padding-right: 65px;
}
.flex-push-2 {
  padding-right: 140px;
}
.flex-push-3 {
  padding-right: 215px;
}
.flex-push-4 {
  padding-right: 290px;
}
.flex-push-5 {
  padding-right: 365px;
}
.flex-push-6 {
  padding-right: 440px;
}
.flex-push-7 {
  padding-right: 515px;
}
.flex-push-8 {
  padding-right: 590px;
}
.flex-push-9 {
  padding-right: 665px;
}
.flex-push-10 {
  padding-right: 740px;
}
.flex-push-11 {
  padding-right: 815px;
}
.flex-push-12 {
  padding-right: 890px;
}
.flex-pull-1 {
  padding-left: 65px;
}
.flex-pull-2 {
  padding-left: 140px;
}
.flex-pull-3 {
  padding-left: 215px;
}
.flex-pull-4 {
  padding-left: 290px;
}
.flex-pull-5 {
  padding-left: 365px;
}
.flex-pull-6 {
  padding-left: 440px;
}
.flex-pull-7 {
  padding-left: 515px;
}
.flex-pull-8 {
  padding-left: 590px;
}
.flex-pull-9 {
  padding-left: 665px;
}
.flex-pull-10 {
  padding-left: 740px;
}
.flex-pull-11 {
  padding-left: 815px;
}
.flex-pull-12 {
  padding-left: 890px;
}