.app-toolbar{
	border: 0;
	padding: 0;
}
.app-header{
	border: 0;
}

.app-toolbar + .app-body{
	padding-top: 0;
}
.app-sidebar,
.app-content-container{
	padding-top: 10px;
}
.app-content-container .stick.right{
	top:10px;
}
.navbar-ttl{
	float: left;
	color: rgba(255, 255, 255, .5);
	font-size: 17px;
	max-width: 100px;
	margin-left: 12px;
	margin-top: 0;
	line-height: 20px;
	height: 68px;
	display: flex;
	align-items: center;
}
.project-search-wrapper{
	width: 300px;
	flex: 0 0 auto;
}
.project-search-input{
	width: 90%;
	height: 100%;
	border: none;
}
.project-selectize-input{
	height: 40px;
	border-radius: 0;
	border-left: 0px;
	border-top: 0px;
	padding: 5px 15px;
}
.selectize-control.single  .project-selectize-input:after{
	right: 13px;
}
.folders-path{
	margin-left: 4px;
	font-size: 13px;
	line-height: 39px;
	/*padding-top: 9px;*/
}
.folder-home{
	font-size: 15px;
}
.dms-breadcrumbs-link{
	font-weight: normal;
	text-decoration: none;
}
.add-folder-button{
	padding: 0 5px;
}
.add-folder-button .fa{
	font-size: 23px;
	color: #707070;
}
.toolbar-search-wrapper{
	width: 180px;
}
.toolbar-search{
	border-radius: 2px;
	background-color: #F5F5F5;
	height: 26px;
	padding: 6px 8px;
	background-color: #fff;
}
.toolbar-search:focus{
	background-color: #fff;
}
.input-group > .input-group-addon{
	left: auto;
	right: 20px;
}
.toolbar-filter{
	float: right;
	width: 30px;
	text-align: center;
	margin-right: 7px;
}
.toolbar-filter .fa{
	font-size: 15px;
	line-height: 15px;
}
.selected-folder{
	position: absolute;
	top:0;
	left:0;
	right: 30px;
	background-color: #fff;
	color: #000;
	z-index: 2;
	line-height: 38px;
	padding-left: 15px;
}
.selected-folder.open{
	display: block;
}
.selected-folder.close{
	display: none;
}
.selected-folder__item{
	font-size: 13px;
}
.selected-folder__item .fa{
	margin-right: 2px;
}
.selected-folder__item:hover{
	text-decoration: none;
	color: #000;
}
.search-folders{
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	background-color: #fff;
	color: #000;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	z-index: 2;
	padding: 3px 10px;
}
.search-folders.open{
	display: block;
}
.search-folders.close{
	display: none;
}
.search-folders__group{
	padding: 9px 0;
}
.search-folders__group_with-border{
	border-bottom: 1px dashed #ccc;
}
.search-folders__item{
	display: block;
	padding: 4px 5px;
	font-size: 13px;
}
.search-folders__item .fa{
	margin-right: 2px;
}
.search-folders__item:hover{
	background-color: #e6f7fe;
	text-decoration: none;
	color: #000;
}
.selectize-clear-button{
	right: 1px;
	bottom: 0;
	top:0;
	line-height: 39px;
}
.app-sidebar.left.disadle .b-window:after{
	content: "";
	position: absolute;
	top:0;
	right: 0;
	left: -10px;
	bottom: 0;
	height: 100%;
	background-color: rgba(0,0,0,.3);
}
.app-sidebar-left{
	flex: 0 0 auto;
	background: #F5F5F5;
	padding: 6px 0 0 7px;
}
.app-sidebar-left.open{
	width: 40px;
}
.app-sidebar-left.close{
	width: 0px;
	display: none;
}
.app-sidebar-left .sidebar-menu-icn .fa{
	font-size: 15px;
}
.app-sidebar-left .sidebar-menu-icn{
	width: 27px;
	height: 27px;
}
.app-sidebar-left .sidebar-menu-body li a.active .sidebar-menu-icn,
.app-sidebar-left .sidebar-menu-body li a:hover .sidebar-menu-icn{
	background-color: #fff;
}
.app-sidebar-left .sidebar-menu-body li a{
	margin-bottom: 1px;
}
.app-wrap{
	display: flex;
	height: 100%;
}
.app-body-content{
	display: flex;
	flex-direction: column;
	flex: 1 0 auto;
}
.btn-toolbar-top{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 39px;
	line-height: 39px;
}
.btn-toolbar-wrapper{
	padding-right: 18px;
}
.btn-toolbar-wrapper .btn-link{
	padding-right: 6px;
	padding-left: 6px;
	font-size: 15px;
}
.btn-toolbar-points{
	margin-left: 10px;
}
.sidebar-bootom-btn{
	font-size: 18px;
	padding: 0 5px 0 0;
}
.b-window .b-footer {
	position: relative;
	min-height: 35px;
}

/*comments*/

.iris-comment-form{
	margin-bottom: 15px;
}
.sm-comments__btns{
	display: none;
	margin-bottom: 19px;
}
textarea.sm-comments__ta{
	border-radius: 2px;
	font-size: 13px;
	padding: 9px 10px;
	height: 38px;
	transition: .5s;
	color: #707070;
	border: 1px solid rgb(169, 169, 169);
	margin-bottom: 5px;
	overflow: hidden;
}
textarea.sm-comments__ta:focus{
	outline: none;
	height: 78px;
}
textarea.sm-comments__ta:focus+.sm-comments__btns{
	display: block;
}
textarea.sm-comments__ta_reply{
	height: 78px;
	width: 100%;
	box-sizing: border-box;
	resize: none;
}
.sm-comments__footer{
	padding-top: 4px;
}
.sm-comments__footer .sm-comments__r{
	border-bottom: 1px solid #d5d5d5;
}
.sm-comments__item{
	margin-bottom: 5px;
	position: relative;
	cursor: default;
}
.sm-comments__hdn{
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0;
	transition: .5s;
}
.sm-comments__hdn-btn-link{
	padding: 0;
	border: 0;
	font-size: 15px;
	color: #87A040;
	margin-left: 6px;
	text-decoration: none;
}
.sm-comments__hdn-btn-link:hover{
	text-decoration: none;
}
.sm-comments__hdn-btn-link_relay{
	font-size: 13px;
}
.sm-comments__item:hover .sm-comments__hdn{
	opacity: 1;
}
.sm-comments__com{
	margin-bottom: 10px;
}
.sm-comments__dbl{
	display: flex;
}
.sm-comments__l{
	width: 33px;
	flex: 0 0 auto;
}
.sm-comments__avatar{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font:10px/25px "Open Sans";
	font-weight: 600;
	text-align: center;
}
.sm-comments__r{
	flex: 1 1 auto;
}
.sm-comments__ttl{
	font-size: 12px;
	color: #898989;
	margin-top: 2px;
	line-height: 19px;
}
a.sm-comments__name{
	color: #333333;
	font-size: 13px;
	font-weight: bold;
}
.sm-comments__txt{
	color: #333333;
	font-size: 13px;
	line-height: 16px;
}
.sm-comments__link{
	color: #87A040;
}
.sm-comments__repl{
	margin-bottom: 10px;
}
.sm-comments__repl-icon{
	color: #878787;
	text-align: right;
	margin-right: 13px;
}
.sm-comments__repl-icon i.fa{
	transform: rotate(-90deg);
	font-size: 13px;
}
.btn-save-comment{
	background-color: #93BE3D;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	padding: 5px 34px;
}
.btn-cansel-comment{
	color: #333;
	font-size: 12px;
	background-color: transparent;
	padding: 5px 0;
}
.iris-comment-form .sm-comments__btns button{
	margin-bottom: 0 !important;
	margin-right: 8px !important;
}
.sm-comments__btns-reply .btn{
	margin-right: 8px;
}
.btn-save-comment:hover{
	color: #fff;
}
.tt-none{
	text-transform: none;
}

/*history*/
.sm-history{
	padding-top: 3px;
}
.sm-history__bl{
	border-bottom: 1px solid #d5d5d5;
	margin-bottom: 18px;
}
.sm-history__date{
	text-align: center;
	font-size: 13px;
	color: #898989;
	margin-bottom: 10px;
}
.sm-history__item{
	display: flex;
	font-size: 13px;
	line-height: 16px;
	color: #333;
	margin-bottom: 5px;
}
.sm-history__link-name{
	font-weight: bold;
	color: #333;
}
.sm-history__c1{
	width: 33px;
	flex: 0 0 auto;
	margin-bottom: 5px;
}
.sm-history__c2{
	flex: 1 1 auto;
	border-bottom: 1px solid #d5d5d5;
	padding-top: 5px;
	padding-bottom: 11px;
}
.sm-history__c3{
	width: 80px;
	flex: 0 0 auto;
	border-bottom: 1px solid #d5d5d5;
	font-size: 12px;
	color: #898989;
	text-align: right;
	padding-top: 5px;
}
.sm-history__item:last-child .sm-history__c2,
.sm-history__item:last-child .sm-history__c3{
	border-bottom: none;
}
.sm-history__avatar {
	display: block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font: 10px/25px "Open Sans";
	font-weight: 600;
	text-align: center;
}
.sm-history__bb{
	padding-top: 1px;
}
.sm-history__btn{
	padding: 0;
	border: 0;
	color: #7DA234;
	margin-right: 9px;
	text-decoration: none;
	font-size: 13px;
}
.sm-history__btn i{
	font-size: 12px;
}
.sm-history__btn:hover{
	text-decoration: none;
}
/*view tiles*/
.v-tiles{
	padding-top: 14px;
	padding-left: 22px;
	padding-right: 22px;
}
.v-tiles__wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.v-tiles__item{
	box-sizing: border-box;
	width: 122px;
	height: 141px;
	cursor: pointer;
	padding-top: 10px;
	transition: .5s;
}
.v-tiles__item:hover,
.v-tiles__item_selected{
	background-color: rgba(150,191,13,0.25);
}
.v-tiles__i-pic{
	margin-bottom: 10px;
	height: 80px;
	display: flex;
	align-items: flex-end;
	position: relative;
}
.v-tiles__i-ttl{
	text-align: center;
	max-height: 34px;
	overflow: hidden;
	font-size: 12px;
}
.tiles-folder{
	background-image: url('../img/folder.png');
	width: 80px;
	height: 66px;
	margin: 0 auto;
}
.tiles-file{
	background-image: url('../img/file.png');
	width: 62px;
	height: 80px;
	margin: 0 auto;
}
.tiles-doc{
	width: 80px;
	height: 80px;
	border: 1px solid #E5E5E5;
	margin: 0 auto;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #fff;
}
.tiles-doc_video,
.tiles-doc_img{
	background-size: cover;
}
.tiles-doc_video i.fa-play{
	text-align: center;
	color: #fff;
	opacity: .5;
	font-size: 30px;
	display: block;
	margin-top: 30%;
}
.v-tiles__check{
	position: absolute;
	left: 25px;
	bottom: 15px;
	opacity: 0;
	transition: .5s;
}
.v-tiles__item:hover .v-tiles__check{
	opacity: 1;
}
.checkbox {
	vertical-align: top;
	width: 20px;
	height: 20px;
}

.checkbox + label {
	cursor: pointer;
	color: #333333;
	padding-left: 25px;
	font-weight: normal;
}

.checkbox:not(checked) {
	position: absolute;
	opacity: 0;
}
.checkbox:not(checked) + label {
	position: relative;
}

.checkbox:not(checked) + label:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	background-image: url(../img/file_nocheck.png);
}

.checkbox:checked + label:after {
	background-image: url(../img/file_check.png);
}
.chng-view{
	background-color: rgba(112,112,112,0.35);
	border-radius: 2px;
	margin-right: 10px;
	display: flex;
	padding: 1px;
}
.chng-view__item{
	width: 29px;
	height: 25px;
}
.chng-view__item .btn{
	margin: 0;
	padding: 0px 6px;
	font-size: 16px;
	line-height: 25px;
}
.chng-view__item_active{
	background-color: #F5F5F5;
	border-radius: 1px;

}
.download-popup{
	background-color: rgba(150,191,13,0.25);
	border-radius: 2px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-top: 5px;
	position: relative;
	padding: 10px 10px 5px;
}
.download-popup-bg{
	background-image: url('../img/dwnload-popup.png');
	background-repeat: no-repeat;
	padding: 10px 30px 10px 66px;
	background-position-x: 13px;
	background-position-y: center;
	min-height: 50px;
}
.download-popup__close{
	position: absolute;
	right: 10px;
	top: 6px;
	font-size: 16px;
}
.download-popup__close .btn{
	padding: 0;
	margin: 0;
}
.download-popup__text{
	font-size: 13px;
}

/*chat*/
.chat{
	display: flex;
	align-items: stretch;
	height: 100%;
}
.chat__left{
	width: 440px;
	flex: 0 0 auto;
	border-right: 1px solid #CCCCCC;
	display: flex;
	flex-direction: column;
}
.chat__right{
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}
.chat__tb1{
	height: 40px;
	flex: 0 0 auto;
}
.chat__tb2{
	height: 46px;
	background-color: #F5F5F5;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	flex: 0 0 auto;
}
.chat__list{
	position: relative;
	flex: 0 1 auto;
	height: 100%;
	border-top: 1px solid #CCCCCC;
}
.chat__last{
	display: flex;
	margin-bottom: 10px;
	padding: 5px 0;
	cursor: pointer;
}
.chat__last.selected{
	background-color: #d7ead0;
}
.chat__unread{
	flex: 0 0 auto;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.chat__avatar{
	flex: 0 0 auto;
	width: 50px;
	margin-right: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 40px;
}
.chat__avatar-img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
}
.last-mess{
	color: #333333;
	font-size: 13px;
	line-height: 16px;
}
.last-mess__date{
	font-size: 12px;
	color: #898989;
	line-height: 19px;
}
.last-mess__name,
.last-mess__name a{
	color: #333333;
	font-size: 13px;
	font-weight: bold;
	line-height: 19px;
}
.last-mess__text{
	height: 19px;
	overflow: hidden;
}
.unread{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #93be3d;
}
.discuss-ttl{
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 10px;
	font-size: 14px;
}
.members-list{
	display: flex;
	align-items: center;
	height: 100%;
}
.members-list__item{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin: 0 10px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: block;
}
.members-list__button{
	margin-left: 10px;
}
.chat-mess{
	flex: 1 0 auto;
	position: relative;
}
.chat-mess .scrollable{
	width: auto;
}
.add-mess{
	flex: 0 0 auto;
	height: 115px;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
}
.add-mess__attach{
	flex: 0 0 auto;
	width: 90px;
	background-color: #F5F5F5;
}
.add-mess__mess{
	flex: 1 0 auto;
}
.add-mess__textarea{
	width: 100%;
	height: 100%;
	border: 0;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 16px;
	resize: none;
}
.add-mess__textarea:focus{
	outline: none;
}
.add-mess__send{
	flex: 0 0 auto;
	width: 90px;
	background-color: #F5F5F5;
	display: flex;
	justify-content: center;
	align-items: center;
}
.send-mess{
	font-size: 32px;
}
.btn-transparent{
	background-color: transparent;
}
.btn-transparent:active{
	box-shadow: none;
}
.add-mess__attach,
.add-mess__attach-img{
	text-align: center;
}
.add-mess__attach button,
.add-mess__attach-img button{
	font-size: 30px;
}
.chat-mess__item{
	display: flex;
	margin-bottom: 15px;
	align-items: center;
}
.chat-mess__item_revert{
	flex-direction: row-reverse;
}
.chat-mess__item_revert .chat-mess__ttl{
	text-align: right;
}
.chat-mess__item_revert .chat-mess__avatar{
	margin-right: 0;
	margin-left: 10px;
}
.chat-mess__item_revert .chat-mess__text{
	background-color: #d7ead0;
}
.chat-mess__avatar{
	flex: 0 0 auto;
	width: 60px;
	height: 60px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	margin-right: 15px;
	display: block;
}
.chat-mess__mess{
	flex: 0 1 auto;
	position: relative;
}
.chat-mess__ttl{
	font-size: 12px;
	margin-top: 2px;
	line-height: 19px;
}
.chat-mess__name{
	color: #333333;
	font-size: 13px;
	font-weight: bold;
}
.chat-mess__date{
	color: #898989;
}
.chat-mess__text{
	color: #333333;
	font-size: 13px;
	line-height: 16px;
	border: 1px solid #ccc;
	padding: 5px 10px 10px;
	border-radius: 5px;
}
.chat-mess__reply{
	position: absolute;
	bottom: 5px;
	right: 5px;
	opacity: 0;
	transition: .5s;
}
.btn-reply{
	padding: 0;
	margin: 0;
}
.chat-mess__mess:hover .chat-mess__reply{
	opacity: 1;
}
.chat-mess__list{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 100%;
	padding: 10px;
}
.chat-icon{
	position: relative;
	font-size: 20px !important;
}
.new-mess{
	position: absolute;
	background-color: #93be3d;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	top: 24px;
	right: 12px;
	border: 2px solid white;
}
.chat__filter{
	display: flex;
	align-items: center;
	padding: 5px 10px;
	font-size: 12px;
}
.chat__search{
	width: 170px;
	flex: 0 0 auto;
	margin-right: 20px;
}
.chat__sort{
	flex: 1 0 auto;
	display: flex;
	align-items: center;
}
.chat__sort-label{
	flex: 0 0 auto;
	margin: 0 10px 0 0;
}
.chat__sort-select{
	flex: 1 0 auto;
	width: 170px;
}
.chat__left .chat__tb2{
	border-left: 1px solid #CCCCCC;
}