.folders-tree .fa {
    font-size: 12px;
}
.project-search-wrapper .selectize-input{
    background-color: #F5F5F5;
}
.folder-bl{
    margin-bottom: 20px;
}
.folder-bl__ttl{
    color: #444444;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    margin-bottom: 9px;
    position: relative;
}
.folder-bl__up{
    position: absolute;
    top: 0;
    right: 10px;
    color: #757B82;
}
.folder-bl__plus{
    position: absolute;
    top: 0;
    right: 30px;
    color: #757B82;
}
.folder-bl__list > ul{
    padding-left: 0 !important;
}
.folder-bl__more{
    text-align: center;
}
.folder-bl__more a{
    color: #444444;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    opacity: .8;
}
.folder-bl__btns{
    position: absolute;
    right: 30px;
    top: 0;
    display: flex;
    color: #333333;
}
.folder-bl__btns button{
    margin: 0 2px;
}
.folder-bl__drag{
    height: 20px;
    width: 282px;
    border: 1px dashed #D7D9DB;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    color: #757B82;
    background-color: #eee;
}
.tags-row{
    display: flex;
}
.tags-row li{
    font-size: 16px;
    margin: 0 2px;
}
.tags-row li .fa,
.tags-col li .fa{
    font-size: 16px;
}
.tags-col a span{
    color: #2B333C;
    font-size: 12px;
    line-height: 17px;
    padding-left: 3px;
}
.tags-col a span .fa{
    font-size: 12px;
}
.tags-col a:hover{
    text-decoration: none;
}
.with-sub-folders {
    padding-left: 37px!important;
}
.tree-node>.btn{
    left: 0;
}
.ui-grid-selection-row-header-buttons{
    height: 12px;
    width: 12px;
    border: 0.5px solid #888E94;
    opacity: 0.8;
    margin-top: 2px;
    margin-bottom: 3px;
    position: relative;
}
.ui-grid-selection-row-header-buttons:before{
    content: none;
}
.ui-grid-selection-row-header-buttons .fa{
    position: absolute;
    top: 0;
    left: -1px;
}
.ui-grid-selall{
    height: 18px;
    width: 32px;
    border: 0.5px solid #888E94;
    margin-left: -5px;
    padding-left: 5px;
    position: relative;
}
.ui-grid-selall .fa{
    position: absolute;
    top: 2px;
    right: 3px;
}
.ui-grid-cell-contents{
    line-height: 18px;
}
.dropdown-menu{
    padding: 0;
    border-radius: 0;
}
.dropdown-menu__search{
    border-bottom: 1px solid #ccc;
}
.dropdown-menu__search div[iris-field][inline]{
    margin: 0;
}
.dropdown-menu__search .form-control{
    border-radius: 0;
    border: 0;
    width: 80%;
}
.dropdown-menu__items{
    overflow: auto;
    max-height: 180px;
}
.dropdown-menu__items ul{
    list-style: none;
    padding: 5px 10px;
}
.dropdown-menu__new{
    border-top: 1px solid #ccc;
    text-align: center;
    color: #333333;
    font-size: 12px;
    line-height: 30px;
    display: block;
}
.dropdown-menu__search-btn{
    position: absolute;
    top: 0;
    right: 5px;
    background-color: transparent;
    border: 0;
    height: 100%;
    color: rgba(51,51,51,0.7);
    font-size: 14px;
}
.dropdown-menu__items li{
    padding: 5px 0;
}
.dropdown-menu__items li a{
    color: #2B333C;
    font-size: 12px;
    line-height: 17px;
    display: flex;
    align-items: center;

}
.i-checkbox{
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    margin-right: 5px;
    position: relative;
    background-color: white;
}
.i-checkbox.selected:before{
    content: "\f00c";
    font-family: 'FontAwesome';
    position: absolute;
    top: -1px;
    left: -1px;
    color: #81D15D;
    font-size: 12px;
    line-height: 12px;
}
.tools-bar{
    display: flex;
    height: 100%;
}
.tools-bar__item{
    border-left: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding-right: 5px;
}
.app-toolbar{
    padding-top: 0;
    padding-bottom: 0;
}
.app-toolbar .container-fluid{
    padding: 0;
}
.tools-bar{
    position: relative;
}

.tools-bar__btn{
    font-size: 20px;
    color: #ccc;
}
.tools-bar__tack{
    padding: 0;
}
.btn-border,
.btn-border:hover{
    border: 1px solid #ccc;
}
.tools-bar__item2{
    padding-left: 20px;
}
.tools-bar__info{
    font-size: 14px;
}
.tools-bar__filtr{
    margin-right: 10px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 3px;
    padding: 0 10px;
}
.tools-bar__filtr.active{
    background-color: #ccc;
}
.tools-bar__filtr:hover{
    text-decoration: none;
}
.tools-bar__filtr1{
    margin-right: 5px;
}
.tools-bar__filtr1,
.tools-bar__filtr2{
    padding-right: 0;
    padding-left: 0;
}
.tools_dropdown{
    display: none;
    position: absolute;
    right: -10px;
    top: 43px;
    background-color: white;
    z-index: 2;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    width: 230px;
}
.tools_dropdown.open{
    display: block;

}
.filtr-dd__bl-ttl{
    color: #2C333C;
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    margin-bottom: 5px;
    padding: 0 8px;
}
.filtr-dd__body{
    padding-top: 5px;
    padding-bottom: 5px;
}
.filtr-dd__bl-cnt ul {
    list-style: none;
    padding: 0;
}
.filtr-dd__bl-cnt ul li{
    padding: 5px 40px 5px 8px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    transition: .5s;
}
.filtr-dd__btns{
    position: absolute;
    right: 10px;
    top:0;
}
.filtr-dd__bl-cnt ul li:hover{
    background-color: #F5F5F5;
    cursor: pointer;
}
.filtr-dd__search{
    border-bottom: 1px solid #ccc;
}
.filtr-dd__search form{
    display: flex;
}
.filtr-dd__search-i{
    padding: 5px 8px;
    font-size: 12px;
    border: none;
    width: 200px;
}
.filtr-dd__search-i:focus{
    outline: none;
}
.filtr-dd__search-s{
    background-color: white;
    border: none;
    width: 30px;
    font-size: 14px;
}
.filtr-dd__search-s:focus{
    outline: none;
}
.filtr-dd__btns{
}
.filtr-dd__btn{
    padding: 5px 2px;
    color: #ccc;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.filtr-dd__bl-cnt ul li:hover .filtr-dd__btn{
    visibility: visible;
    opacity: 1;
}
.filtr-dd__fix{
    visibility: visible;
    opacity: 1;
    color: #333;
}
.filtr-dd__bl-cnt .i-checkbox{
    flex: 0 0 auto;
}

.fltr-tags{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    min-height: 20px;
    border-bottom: 1px solid #ccc;
}
.fltr-tags__cnt{
    display: flex;
    /*padding: 2px 5px;*/
    flex-wrap: wrap;
    padding: 4px 0;
}
.fltr-tags__item{
    border-radius: 8px;
    background-color: #aaa;
    padding: 1px 10px;
    margin: 1px 5px;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.fltr-tags__item .remove{
    color: white;
    padding: 0;
    font-size: 14px;
}
.fltr-tags__item span{
    padding-right: 10px;
}
.fltr-tags__item .remove:hover{
    text-decoration: none;
}
.fltr-tags__btn-clear{
    height: 100%;
    text-decoration: none;
    background-color: #f5f5f5;
    border-left: 1px solid #ccc;
    border-radius: 0;
}
.fltr-tags__btn-clear:hover{
    text-decoration: none;
    background-color: #f5f5f5;
    border-left: 1px solid #ccc;
}
.filtr-radio-w{
    display: flex;
}
.filtr-radio-i{
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.filtr-radio-i input{
    margin: 0;
    margin-right: 5px;
}
.filtr-radio-i label{
    margin: 0;
}
.dd-filter .form-group{
    margin-bottom: 20px !important;
}
.dd-filter .selectize-input{
    border-radius: 0;
    border: none;
}
.dd-filter .selectize-dropdown{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    border-radius: 0;
}
.btn-toolbar{
    position: relative;
}
.dd-filter{
    position: absolute;
    top: 111px;
    right: 0;
    background-color: #f5f5f5;
    z-index: 2;
    width: 390px;
    box-sizing: border-box;
}
.dd-filter label{
    font-weight: normal;
}
.dd-filter__ttl{
    font-size: 18px;
    padding: 30px 30px 10px;
    margin-bottom: 20px;
}
.dd-filter__scroll{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 400px;
}
.dd-filter__fltr{
    padding: 0 30px;
}
.dd-filter__bottom{
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px 30px;
    box-sizing: border-box;
}
.dd-filter__bottom .btn{
    padding: 4px 10px;
}
.dd-filter__bottom .btn-success{
    border-color: #93be3d;
}
.dd-filter__bottom .btn-basic{
    color: white;
    background-color: #aaa;
}
.dd-filter .selectize-input .item{
    background-color: #aaa !important;
    color: white !important;
    border-radius: 6px !important;
    padding: 1px 20px 1px 5px !important;
}
.dd-filter .selectize-dropdown-content .option{
    display: flex;
    align-items: center;
}
.selectize-dropdown-search{
    border-bottom: 1px solid #ccc;
}
.selectize-dropdown-search-i {
    padding: 5px 8px;
    font-size: 12px;
    border: none;
    width: 275px;
}
.selectize-dropdown-search-s {
    background-color: white;
    border: none;
    width: 30px;
    font-size: 14px;
}
.selectize-dropdown-search-s:focus,
.selectize-dropdown-search-i:focus{
    outline: none;
}
.dd-filter .selectize-input .item.item_clean{
    background-color: transparent !important;
    color: #333 !important;
}
.selectize-input__btns{
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: transparent !important;
}
.selectize-input__btns button{
    background-color: white;
    padding: 0;
    border: none;
    font-size: 20px;
    line-height: 30px;
    margin-right: 5px;
}
.selectize-input__btns button:focus{
    outline: none;
}
.selectize-input__btns button:disabled{
    color: #aaa;
}
.selectize-date{
    border:1px solid #ccc;
    width: 100px;
    padding: 5px 10px;
}
.selectize-date:focus{
    outline: none;
}
.date-from-to{
    display: flex;
    align-items: center;
}
.date-from-to__d{
    position: relative;
}
.date-from-to__d button{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    background: transparent;
    border: none;
}
.date-from-to__d button:focus{
    outline: none;
}
.date-from-to span{
    margin: 0 5px;
    color: #aaa;
}
.selectize-checkbox-group{
    display: flex;
}
.selectize-checkbox-group__option{
    display: flex;
    align-items: center;
    margin-right: 20px;
}