.widget-favorite-files{

}
.widget-favorite-files .panel-body.b-content{
    padding: 0;
}
.iris-favorite-files-row{
    position: relative;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 48px;
    background-color: #FFFFFF;
    border-left: 4px solid transparent;
    transition: .5s;
}
.iris-favorite-files-row.updated{
    border-left: 4px solid #93BE3D;
}
.iris-favorite-files-row.updated.active,
.iris-favorite-files-row.active{
    background-color: rgba(147,190,61,0.2);
}
.iris-favorite-files-row:hover{
    background-color: #F5F5F5;
}
.iris-favorite-files-row:nth-child(2n){
    background-color: #F5F5F5;
}
.iris-favorite-files-row__img{
    padding: 12px 12px;
    flex: 0 0 auto;
}
.iris-favorite-files-row__img-doc{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #e9e9e0;
    width: 21px;
    height: 24px;
}
.iris-favorite-files-row.active .iris-favorite-files-row__img-doc{
    background-color: #fff;
}
.iris-favorite-files-row__ttl{
    padding: 7px 0;
    flex: 1 1 auto;
}
.iris-favorite-files-row__name{
    color: #39434D;
    font-size: 12px;
    line-height: 20px;
}
.iris-favorite-files-row.updated .iris-favorite-files-row__name{
    font-weight: bold;
}
.iris-favorite-files-row__name a:hover{
    text-decoration: none;
}
.iris-favorite-files-row__path{
    opacity: 0.5;
    color: #0E1205;
    font-size: 8px;
    line-height: 12px;
}
.iris-favorite-files-row__path a:hover{
    text-decoration: none;
}
.iris-favorite-files-row__path:hover i.fa{
    text-decoration: none;
    color: #39434D;
}
.iris-favorite-files-row__ttl2{
    padding: 5px 0;
}
.iris-favorite-files-row__date{
    opacity: 0.5;
    color: #0E1205;
    font-size: 8px;
    line-height: 12px;
    text-align: right;
}
.iris-favorite-files-row__date a:hover{
    text-decoration: none;
}
.iris-favorite-files-row__menu{
    padding: 7px 3px;
    flex: 0 0 auto;
}
.iris-favorite-files-row__menu-btn{
    color: #969BA0;
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 24px;
    width: 24px;
    height: 24px;
    text-align: center;
}
.iris-favorite-files-row.active .iris-favorite-files-row__menu-btn{
    color: #93BE3D;
}
.iris-favorite-files-row__icons .btn{
    padding: 0 2px;
    font-size: 16px;
}
.iris-favorite-files-menu{
    position: absolute;
}

.iris-favorite-files-menu{
    position: absolute;
    top: 40px;
    right: 4px;
    width: 196px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 8px 16px 0 rgba(82,97,115,0.18);
}
.iris-favorite-files-menu__body,
.iris-favorite-files-menu__bottom{
    padding: 4px;
}
.iris-favorite-files-menu__list{
    list-style: none;
    margin: 0;
    padding: 0;
}
.iris-favorite-files-menu__list a{
    display: block;
    padding: 7px 8px;
    background-color: #fff;
    transition: .5s;
    color: #39434D;
    font-size: 12px;
    line-height: 16px;
}
.iris-favorite-files-menu__list a:hover{
    background-color: rgba(195,198,200,0.25);
    text-decoration: none;
    color: #39434D;
}
.iris-favorite-files-menu__list i.fa{
    margin-right: 8px;
    font-size: 16px;
}
.iris-favorite-files-menu__bottom{
    border-top: 1px solid #e5e5e5;
}
.iris-favorite-files-menu__bottom .fa-trash{
    color: #CC4433;
}

/*menu*/
.sidebar-menu-body ul li:hover{
    background-color: rgba(245,245,245,0.3);
}
.sidebar-menu-body ul a.active{
    border: 0;
    border-left: 6px solid #93BE3D;
    background-color: transparent;
    color: #fff;
}
.sidebar-menu-body ul a.active .fa,
.iris-modules-list .iris-sidebar-icon-caption.active{
    color: #fff;
}
.sidebar-menu-body ul li{
    position: relative;
}
.sidebar-menu-body ul li.parent:after{
    display: block;
    content:'';
    width: 0;
    height: 0;
    border-bottom: 8px solid #969BA0;
    border-left: 8px solid transparent;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 3px;
    margin-right: 3px;
}
.sidebar-menu-body{
    overflow: unset;
}
.app-sidebar-left.left.open{
    overflow: unset;
}
.iris-modules-list li:hover a:not(.active) .fa, .iris-modules-list li:hover span:not(.active){
    color: #C3C6C8;
}
.sidebar-menu-body li ul.sidebar-submenu{
    display: none;
    border-radius: 3px;
    background-color: #39434D;
    position: absolute;
    left: 80px;
    top: 0;
    z-index: 99;
    padding: 4px 0;
}
.sidebar-menu-body li.open{
    background-color: rgba(245,245,245,0.3);
    color: #C3C6C8;
}
.sidebar-menu-body li.open .sidebar-menu-icn,
.sidebar-menu-body li.open .iris-sidebar-icon-caption{
    color: #C3C6C8;
}
.sidebar-menu-body li.open ul.sidebar-submenu{
    display: block;
}
.sidebar-menu-body ul.sidebar-submenu li a{
    display: flex;
    align-items: center;
    color: #969BA0;
    padding: 8px 20px 8px 12px;
    font-size: 12px;
    line-height: 20px;
}
.sidebar-menu-body ul.sidebar-submenu li a .fa{
    font-size: 24px;
    line-height: 24px;
    margin-right: 8px;
}
.iris-modules-list li:hover ul.sidebar-submenu .fa,
.iris-modules-list li:hover ul.sidebar-submenu span{
    color: #969BA0 !important;
}
.sidebar-menu-body ul.sidebar-submenu li a:hover{
    /*background-color: rgba(245,245,245,0.3);*/
    color: #C3C6C8;
}
.iris-modules-list li:hover ul.sidebar-submenu a:hover .fa,
.iris-modules-list li:hover ul.sidebar-submenu a:hover span{
    color: #C3C6C8 !important;
}